<div class="hero-hrid fl-wrap gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="grid-post-item  bold_gpi    fl-wrap">
                    <div class="grid-post-media  gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url('images/all/15.jpg');"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/all/15.jpg" alt=""> <span>Ann Kowalsky</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Politics</a>
                            <h4><a href="post-single.html">Here's the proof that momentum strategies
                                    work</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 05 April 2022</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 15 </li>
                                <li><i class="fal fa-eye"></i> 234 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-post-item  bold_gpi   fl-wrap">
                    <div class="grid-post-media gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url(&quot;images/all/15.jpg&quot;);"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/avatar/2.jpg" alt=""> <span>By Mark Rose</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Politics</a>
                            <h4><a href="post-single.html">How Maps Reshape American Politics In
                                    World</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 22 march 2022</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 25 </li>
                                <li><i class="fal fa-eye"></i> 164 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-post-item  bold_gpi    fl-wrap">
                    <div class="grid-post-media gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url(&quot;images/all/15.jpg&quot;);"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/avatar/3.jpg" alt=""> <span>Ann Kowalsky</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Business</a>
                            <h4><a href="post-single.html">Scientific research goes to the next
                                    level</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 30 september
                                2021</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 25 </li>
                                <li><i class="fal fa-eye"></i> 164 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-post-item  bold_gpi   fl-wrap">
                    <div class="grid-post-media gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url(&quot;images/all/15.jpg&quot;);"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/avatar/1.jpg" alt=""> <span>By Jane Taylor</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Business</a>
                            <h4><a href="post-single.html">First prototype flight using kinetic launch
                                    system</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 15 March 2022</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 67 </li>
                                <li><i class="fal fa-eye"></i> 542 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-post-item  bold_gpi    fl-wrap">
                    <div class="grid-post-media gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url(&quot;images/all/15.jpg&quot;);"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/avatar/3.jpg" alt=""> <span>Ann Kowalsky</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Business</a>
                            <h4><a href="post-single.html">Scientific research goes to the next
                                    level</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 30 september
                                2021</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 25 </li>
                                <li><i class="fal fa-eye"></i> 164 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-post-item  bold_gpi   fl-wrap">
                    <div class="grid-post-media gpm_sing bold_gpi_half">
                        <div class="bg" data-bg="images/all/15.jpg"
                            style="background-image: url(&quot;images/all/15.jpg&quot;);"></div>
                        <div class="author-link"><a href="author-single.html"><img
                                    src="images/avatar/1.jpg" alt=""> <span>By Jane Taylor</span></a>
                        </div>
                        <div class="grid-post-media_title">
                            <a class="post-category-marker" href="category.html">Business</a>
                            <h4><a href="post-single.html">First prototype flight using kinetic launch
                                    system</a></h4>
                            <span class="video-date"><i class="far fa-clock"></i> 15 March 2022</span>
                            <ul class="post-opt">
                                <li><i class="far fa-comments-alt"></i> 67 </li>
                                <li><i class="fal fa-eye"></i> 542 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>