<div class="col-md-4">
    <!-- sidebar   -->
    <div class="sidebar-content fl-wrap fix-bar">
        <!-- box-widget -->
        <div class="box-widget fl-wrap">
            <div class="box-widget-content">
                <!-- content-tabs-wrap -->
                <div class="content-tabs-wrap tabs-act tabs-widget fl-wrap">
                    <div class="content-tabs fl-wrap">
                        <div class="widget-title">Most Trending Posts</div>
                    </div>
                    <!--tabs -->
                    <div class="tabs-container">
                        <!--tab -->
                        <div class="tab">
                            <div id="tab-popular" class="tab-content first-tab">
                                <div class="post-widget-container fl-wrap">
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/1.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">How to start Home
                                                    education.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 25
                                                        may 2022</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        12</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/2.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">The secret to
                                                    moving this screening.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 13
                                                        april 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        6</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/3.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">Fall ability to
                                                    keep Congress on rails.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 02
                                                        December 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        12</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/4.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">Innovations that
                                                    Bring Aesthetic Pleasure to All.</a>
                                            </h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 30
                                                        september 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        44</span></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                </div>
                            </div>
                        </div>
                        <!--tab  end-->
                        <!--tab -->
                        <div class="tab">
                            <div id="tab-resent" class="tab-content">
                                <div class="post-widget-container fl-wrap">
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/5.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">Magpie nesting
                                                    zone sites.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 05
                                                        april 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        16</span></li>
                                                <li><span><i class="fal fa-eye"></i>
                                                        727</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/6.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">Locals help
                                                    create whole new community.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 22
                                                        march 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        31</span></li>
                                                <li><span><i class="fal fa-eye"></i>
                                                        63</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                    <!-- post-widget-item -->
                                    <div class="post-widget-item fl-wrap">
                                        <div class="post-widget-item-media">
                                            <a href="post-single.html"><img src="images/all/thumbs/7.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="post-widget-item-content">
                                            <h4><a href="post-single.html">Tennis season
                                                    still to proceed.</a></h4>
                                            <ul class="pwic_opt">
                                                <li><span><i class="far fa-clock"></i> 06
                                                        December 2021</span></li>
                                                <li><span><i class="far fa-comments-alt"></i>
                                                        05</span></li>
                                                <li><span><i class="fal fa-eye"></i>
                                                        145</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post-widget-item end -->
                                </div>
                            </div>
                        </div>
                        <!--tab end-->
                    </div>
                    <!--tabs end-->
                </div>
                <!-- content-tabs-wrap end -->
            </div>
        </div>
        <div class="box-widget fl-wrap">
            <div class="widget-title">Categories</div>
            <div class="box-widget-content">
                <ul class="cat-wid-list">
                    <li><a href="blog.html#">Science</a><span>3</span></li>
                    <li><a href="blog.html#">Politics</a> <span>6</span></li>
                    <li><a href="blog.html#">Technology</a> <span>12</span></li>
                    <li><a href="blog.html#">Sports</a> <span>4</span></li>
                    <li><a href="blog.html#">Business</a> <span>22</span></li>
                </ul>
            </div>
        </div>
        <div class="box-widget fl-wrap">
            <div class="widget-title">Popular Tags</div>
            <div class="box-widget-content">
                <div class="tags-widget">
                    <a href="index.html#">Science</a>
                    <a href="index.html#">Politics</a>
                    <a href="index.html#">Technology</a>
                    <a href="index.html#">Business</a>
                    <a href="index.html#">Sports</a>
                    <a href="index.html#">Food</a>
                </div>
            </div>
        </div>

        <div class="box-widget fl-wrap">
            <div class="widget-title">Follow Us</div>
            <div class="box-widget-content">
                <div class="social-widget">
                    <a href="index.html#" target="_blank" class="facebook-soc">
                        <i class="fab fa-facebook-f"></i>
                        <span class="soc-widget-title">Likes</span>
                        <span class="soc-widget_counter">2640</span>
                    </a>
                    <a href="index.html#" target="_blank" class="twitter-soc">
                        <i class="fab fa-twitter"></i>
                        <span class="soc-widget-title">Followers</span>
                        <span class="soc-widget_counter">1456</span>
                    </a>
                    <a href="index.html#" target="_blank" class="youtube-soc">
                        <i class="fab fa-youtube"></i>
                        <span class="soc-widget-title">Followers</span>
                        <span class="soc-widget_counter">1456</span>
                    </a>
                    <a href="index.html#" target="_blank" class="instagram-soc">
                        <i class="fab fa-instagram"></i>
                        <span class="soc-widget-title">Followers</span>
                        <span class="soc-widget_counter">1456</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- box-widget  end -->
        <!-- box-widget -->

    </div>
    <!-- sidebar  end -->
</div>